<section class="features">
      <div class="features__panel">
        <div class="features__main">
          <div class="section-header">
            <h2>Getting there</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus laoreet, eget tincidunt lacus varius.</p>
          </div>
          <div class="steps">
            <article class="step">
              <div class="step__number">1</div>
              <div>
                <h3>Bookings your flights</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus laoreet, eget tincidunt lacus varius.</p>
              </div>
            </article>
            <article class="step">
              <div class="step__number">2</div>
              <div>
                <h3>Choosing your hotel</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus laoreet, eget tincidunt lacus varius.</p>
              </div>
            </article>
            <article class="step">
              <div class="step__number">3</div>
              <div>
                <h3>Planning your experiences</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus laoreet, eget tincidunt lacus varius.</p>
                <a class="button button--secondary" href="#">Learn More</a>
              </div>
            </article>
          </div>
        </div>
    </section>