    <section class="gallery">
      <div class="gallery__panel">
        <div class="gallery__content">
          <h1>Photo Gallery</h1>
          <p class="gallery__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus laoreet, eget tincidunt lacus varius.</p>
        </div>
        <div class="gallery__grid">
          <div class="gallery__item gallery__item--large">
            <img src="./img/women.png" alt="Women in a village">
          </div>
          <div class="gallery__item">
            <img src="./img/small.png" alt="Mountain view from afar">
          </div>
          <div class="gallery__item">
            <img src="./img/boy.png" alt="Boy in a field">
          </div>
          <div class="gallery__item">
            <img src="./img/mountin.png" alt="Tropical coastline">
          </div>
          <div class="gallery__item">
            <img src="./img/big sea.png" alt="Big waves crashing on the shore">
          </div>
          <div class="gallery__item">
            <img src="./img/sea.png" alt="Aerial view of a tropical coastline">
          </div>
        </div>
      </div>
    </section>